<footer class="mt-5 mb-3 border-top border-3 border-warning">
  <div class="container text-center text-warning border-top-1 my-3" style="width: 500px;">
  <ul class="list-group list-group-horizontal justify-content-center">
    <li class="list-group-item" style="background-color: transparent; border: none;"><%= link_to "Home", "/", class: "text-decoration-none text-warning" %></li>
    <li class="list-group-item" style="background-color: transparent; border: none;"><%= link_to "About us", about_path, class: "text-decoration-none text-warning" %></li>
    <li class="list-group-item" style="background-color: transparent; border: none;"><%= link_to "Sign up", new_user_registration_path, class: "text-decoration-none text-warning" %></li>
    <li class="list-group-item" style="background-color: transparent; border: none;"><%= link_to "Log in", user_session_path, class: "text-decoration-none text-warning" %></li>

  </ul>
  <ul class="list-group list-group-horizontal justify-content-center">
    <li class="list-group-item" style="background-color: transparent; border: none; color: orange;"><i class="fa-brands fa-instagram" style="color: #ec9909;"></i></li>
    <li class="list-group-item" style="background-color: transparent; border: none; color: orange;"><i class="fa-brands fa-facebook-f" style="color: #ec9909;"></i></li>
    <li class="list-group-item" style="background-color: transparent; border: none; color: orange;"><i class="fa-brands fa-twitter" style="color: #ec9909;"></i></li>
  </ul>
  <small>Copyright © 2023 Football History Archives . All Rights Reserved.</small>
  </div>
</footer>
