.card {
  margin: 50px;
  background-color: rgb(43, 41, 34);
  color: goldenrod;
  font-family: Alice ;
  border-radius: 8%;
}
.card .card-price {
  font-weight: bold;
}

.card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.border-warning-subtle {
  opacity: 1.5;
}

.btn {
  background-color: goldenrod;
  &:hover {
    background-color: gold;
  }
}
