.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 20vh;
  background-position: left;
  background-size: 65%;
  position: relative;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  position: absolute;
  top: 0px;
  right: 0px;
}

.navbar-lewagon .navbar-brand .img {
  width: 240px;
  height: 200px;
  opacity: 0.5;
  border-radius: 10%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  &:hover {
    opacity: 1.1;
  }
}

.navbar-lewagon .navbar-collapse .nav-link {
  color: goldenrod;
  font-size: large;
  font-weight: bold;
}
